body{background-color: rgb(250, 198, 134);}
h1{background-color: blanchedalmond;
padding-top: 0;
animation: alternate;}
p{font-style: oblique;
font-weight: 800;
font: 300;
flood-color: black;}
button{ column-fill: balance;
    border-color: bisque;
    text-decoration-color: blue;
}
